<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="navbarService.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>{{ pageTitle }}</span>

        <div class="filler"></div>

        <ng-container *ngIf="actions.length">
            <button *ngFor="let action of actions" mat-icon-button (click)="action.handler()" [title]="action.tooltip">
                <mat-icon>{{ action.icon }}</mat-icon>
            </button>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>
