<div class="wrapper">
    <div>
        <p>Sign up or <a routerLink="/login">sign in</a> if you already have an account</p>
        <form [formGroup]="form" (submit)="submit()">
            <mat-form-field>
                <input matInput type="text" placeholder="First name" formControlName="firstName" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Last name" formControlName="lastName" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Sign up</button>
        </form>
    </div>
</div>
