<div class="w-screen h-screen flex justify-content-center align-items-center">
    <div>
        <p>Sign in or <a routerLink="/register">register</a></p>
        <form [formGroup]="form" (submit)="submit()">
            <div class="field">
                <input
                    type="email"
                    class="inputfield p-inputtext-sm"
                    pInputText
                    placeholder="Email"
                    formControlName="email"
                />
            </div>

            <div class="field">
                <input
                    type="password"
                    class="inputfield p-inputtext-sm"
                    pInputText
                    placeholder="Password"
                    formControlName="password"
                />
            </div>

            <button pButton type="submit" class="p-button-sm">Sign in</button>
        </form>
    </div>
</div>
