<div class="wrapper">
    <div>
        <p>Sign in or <a routerLink="/register">register</a></p>
        <form [formGroup]="form" (submit)="submit()">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Sign in</button>
        </form>
    </div>
</div>
