<tm-top-menu pageTitle="Projects"></tm-top-menu>

<div *ngIf="projects" class="projects-container">
    <mat-card *ngFor="let project of projects">
        <mat-card-title>
            {{ project.name }}
        </mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at corporis hic ipsam ipsum quas quasi
            qui quo saepe voluptate?
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="goToProject(project.id)">Go to project</button>
        </mat-card-actions>
    </mat-card>

    <div class="item">
        <div class="pi pi-plus text-5xl"></div>
    </div>
</div>
