<ng-container *ngIf="project$ | async as project">
    <tm-top-menu pageTitle="Project: {{ project.name }}"></tm-top-menu>

    <mat-card class="container project-container">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a
                mat-tab-link
                *ngFor="let tab of tabs"
                [routerLink]="tab.link"
                [active]="(router.url | lastUrlPart) === tab.link"
            >
                {{ tab.title }}
            </a>
        </nav>

        <mat-card-content>
            <mat-tab-nav-panel #tabPanel>
                <router-outlet (activate)="onOutletLoaded($event, project)"></router-outlet>
            </mat-tab-nav-panel>
        </mat-card-content>
    </mat-card>
</ng-container>
