<ng-container *ngIf="dataService.project$ | async as project">
    <tm-top-menu pageTitle="Project: {{ project.name }}"></tm-top-menu>

    <div class="container project-container">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a
                mat-tab-link
                *ngFor="let tab of tabs"
                [routerLink]="tab.link"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
            >
                {{ tab.title }}
            </a>
        </nav>

        <mat-tab-nav-panel #tabPanel>
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </mat-tab-nav-panel>
    </div>
</ng-container>
