.data-container {
    display: flex;
    gap: 16px;
}

.project-container {
    margin-top: 16px;
}

mat-card {
    flex-basis: 50%;
}

table {
    width: 100%;
}

.tab-content {
    margin-top: 16px;
}
