<mat-card *ngIf="project">
    <ng-container *ngIf="!editMode">
        <mat-card-title>
            {{ project.name }}
            <div class="actions">
                <button mat-icon-button (click)="editMode = true" title="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-card-title>

        <mat-card-content>{{ project.description }}</mat-card-content>
    </ng-container>

    <tm-project-form
        *ngIf="editMode"
        (formSave)="save($event)"
        [data]="{name: project.name, description: project.description}"
    ></tm-project-form>
</mat-card>
