<tm-add-task-dialog
    [(showDialog)]="showAddDialog"
    [task]="editingTask"
    (taskAdded)="onTaskAdded($event)"
    (taskEdited)="onTaskEdited($event)"
></tm-add-task-dialog>

<p-confirmPopup></p-confirmPopup>

<div class="container task-list">
    <p-card>
        <p-table [value]="tasks" [loading]="loading" dataKey="id">
            <ng-template pTemplate="caption">
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-rounded"
                    (click)="openTaskDialog(null)"
                ></button>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th>Title</th>
                    <th>Assigned to</th>
                    <th>Created by</th>
                    <th>Created at</th>
                    <th>Deadline</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task let-expanded="expanded">
                <tr>
                    <td>
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="task"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        ></button>
                    </td>
                    <td>
                        <a [routerLink]="['/tasks', task.id]">{{ task.title }}</a>
                    </td>
                    <td>{{ task.executor.username }}</td>
                    <td>{{ task.author.username }}</td>
                    <td>{{ task.createdAt | date }}</td>
                    <td>{{ task.deadlineDate | date }}</td>
                    <td>
                        <button
                            class="p-panel-header-icon p-link ml-2 mr-2"
                            title="Edit"
                            (click)="openTaskDialog(task)"
                        >
                            <span class="pi pi-pencil"></span>
                        </button>

                        <button
                            class="p-panel-header-icon p-link ml-2 mr-2"
                            title="Delete"
                            (click)="removeTask($event, task.id)"
                        >
                            <span class="pi pi-trash"></span>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-task>
                <tr>
                    <td colspan="7">
                        <p>{{ task.body }}</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
